body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(42, 52, 61);
    color: white;
}

a {
    text-decoration: none;
    color: yellow;
}

ul.no-bulet {
    list-style-type: none;
}

.categories {
    position: relative;
    float: left;
    width: 50%;
}